* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
body {
  margin: auto;
}
h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
  padding: 0;
}

.content {
  width: 30%;
  margin: 20px auto;
  padding: 10px;

  border-radius: 5%;
  line-height: 2em;
  background: #f9ecf9;
}
@media (max-width: 994px) {
  .content {
    width: 50%;
  }
}
@media (max-width: 470px) {
  .content {
    width: 100%;
  }
}
