* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 3em;
}
body {
  margin: auto;
}
h1 {
  text-align: center;
}

.container {
  margin: 20px auto;
  padding: 0;
}

.content {
  width: 30%;
  margin: 20px auto;
  padding: 10px;

  border-radius: 5%;
  line-height: 2em;
  background: #f9ecf9;
}
